

  <script src="js/pace.js"></script>
    <script src="js/modernizr.js"></script>

<div class="  pace-done" data-whatinput="mouse" style="overflow: visible;">
		<div  >
							<ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                    <li>
                                        <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/index.html" title="Dashboard" role="menuitem" tabindex="-1"> <i class="palette-Deep-Purple-700 bg ti-desktop"></i> <span>Dashboard</span> </a>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" tabindex="-1"> <i class="palette-Indigo-700 bg ti-layout"></i> <span>Layout<small class="side-menu-noft">New</small></span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="http://ndesaintheme.com/fondamix/sidebar-fixed.html" role="menuitem" tabindex="-1">Sidebar Fixed</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/all-fixed.html" role="menuitem" tabindex="-1">All Fixed</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Mail" tabindex="-1"> <i class="palette-Cyan-700 bg ti-paint-roller"></i> <span>Skin</span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="http://ndesaintheme.com/fondamix/blue-skin.html" title="Black Skin" role="menuitem" tabindex="-1">Blue Skin</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/white-skin.html" title="White Skin" role="menuitem" tabindex="-1">White Skin</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/purple-skin.html" title="Blue Skin" role="menuitem" tabindex="-1">Purple Skin</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Mail" tabindex="-1"> <i class="intial palette-Blue-700 bg ti-email"></i> <span>mail</span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="http://ndesaintheme.com/fondamix/mail.html" title="Inbox" role="menuitem" tabindex="-1">Inbox
                                                 <div class="noft-blue bg-red" style="display: inline-block; float: none;">256</div>
                                            </a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/compose.html" title="Compose" role="menuitem" tabindex="-1">Compose</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a href="javascript:void(0)" tabindex="-1"> <i class="intial palette-Blue-900 bg ti-write"></i> <span>Page&nbsp;
                                    <small class="side-menu-noft bg-blue">hot</small></span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">

                                            <li> <a href="http://ndesaintheme.com/fondamix/blog-list.html" role="menuitem" tabindex="-1">Blog List</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/blog-detail.html" role="menuitem" tabindex="-1">Blog Detail</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/gallery.html" role="menuitem" tabindex="-1">Gallery</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/calendar.html" title="Calender" role="menuitem" tabindex="-1">Calendar</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/master.html" title="Chart" role="menuitem" tabindex="-1">Blank Page</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="UI" tabindex="-1"> <i class="intial palette-Teal-600 bg ti-vector"></i> <span>UI&nbsp;
                                    <small class="side-menu-noft">new</small></span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="http://ndesaintheme.com/fondamix/element.html" title="Element" role="menuitem" tabindex="-1">Element</a> </li>
                                            <li><a href="http://ndesaintheme.com/fondamix/button.html" title="Button" role="menuitem" tabindex="-1">
                                            Button
                                        </a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/tab.html" title="Tab &amp; Accordion" role="menuitem" tabindex="-1">Tab &amp; Accordion</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/typography.html" title="Typography" role="menuitem" tabindex="-1">

                                                Typography
                                            </a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/panel.html" title="panel" role="menuitem" tabindex="-1">Panel</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/grids.html" title="Grids" role="menuitem" tabindex="-1">Grids</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/chart.html" title="Chart" role="menuitem" tabindex="-1">Chart</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a href="javascript:void(0)" tabindex="-1"> <i class="intial palette-Green-700 bg ti-layers-alt"></i> <span>Form&nbsp;  <small class="side-menu-noft">new</small></span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="http://ndesaintheme.com/fondamix/form-element.html" title="Form Elements" role="menuitem" tabindex="-1">Form Elements</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/andvance-form.html" title="Andvance Form" role="menuitem" tabindex="-1">Andvance Form</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/text-editor.html" title="Text Editor" role="menuitem" tabindex="-1">Text Editor</a> </li>
                                            <li> <a href="http://ndesaintheme.com/fondamix/file-upload.html" title="File Upload" role="menuitem" tabindex="-1">File Upload</a> </li>
                                        </ul>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a href="javascript:void(0)" tabindex="-1"> <i class="intial palette-Lime-700 bg ti-harddrives"></i> <span>Tables</span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="#" title="Table Static" role="menuitem" tabindex="-1">Table Static</a> </li>
                                            <li> <a href="#" title="Table Dynamic" role="menuitem" tabindex="-1">Table Dynamic</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip tooltipster-disable" href="#" title="Icons" role="menuitem" tabindex="-1"> <i class="intial palette-Orange-700 bg ti-zip"></i> <span>Icons</span> </a>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent"><a href="javascript:void(0)" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Extra" tabindex="-1"> <i class="palette-Pink-700 bg ti-gift"></i> <span>Extra</span> </a>
                                        <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                            <li> <a href="#" title="Invoice" role="menuitem" tabindex="-1">Invoice</a> </li>
                                            <li> <a href="#" title="Pricing Table" role="menuitem" tabindex="-1">Pricing Table</a> </li>
                                            <li> <a href="#" title="Time Line" role="menuitem" tabindex="-1">Time Line</a> </li>
                                            <li> <a href="#" title="Chart" role="menuitem" tabindex="-1">Login</a> </li>
                                            <li> <a href="#" title="Lock Screen" role="menuitem" tabindex="-1">Map</a> </li>
                                            <li> <a href="#" title="404 Error Page" role="menuitem" tabindex="-1">404 Error Page</a> </li>
                                            <li> <a href="#" title="500 Error Page" role="menuitem" tabindex="-1">500 Error Page</a> </li>
                                        </ul>
                                    </li>
                                </ul></div><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <!-- preloader -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>
    <!-- End of preloader -->
    <div class="off-canvas-wrapper over-flow-hidden">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
            <!-- right sidebar wrapper -->
            <div class="inner-wrap">
                <!-- Right sidemenu -->
                <div id="skin-select" style="width: 260px;">
                    <!--      Toggle sidemenu icon button -->
                    <a id="toggle" class="">  </a>
                    <!--      End of Toggle sidemenu icon button -->
                    <div class="skin-part" style="visibility: visible;">
                        <div id="tree-wrap">
                            <!-- Profile -->
                            <div class="profile" style="top: -10px;"> <img alt="" class="" src="img/yeti.svg" style="width: 45px; height: 45px; top: 15px; left: 4px;">
                                <h3 style="display: block;">My site<small>ADMIN</small></h3> </div>
                            <!-- End of Profile -->
                            <!-- Menu sidebar begin-->
                            <div class="side-bar">
                                <ul id="menu-showhide" class="topnav slicknav" style="height: auto; margin: -13px 0px 0px;">
                                    <li style="text-align: left;">
                                        <a id="menu-select" class="tooltip-tip tooltipster-disable" href="#" title="Dashboard"> <i class="palette-Deep-Purple-700 bg ti-desktop" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Bienvenido</span> </a>
                                    </li>



 									<li style="text-align: left;">
                                        <a class="tooltip-tip  tooltipster-disable" href="javascript:void(0)"> <i class="palette-Red-600 bg ti-desktop" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Mis series</span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"  {{action "goToNewSerie"}}  > <a href="javascript:void(0)">Crear serie</a> </li>
                                            <li style="text-align: left;" {{action "goToListSerie"}}  > <a href="javascript:void(0)">Lista de series</a> </li>
                                        </ul>
                                    </li>

                                    <li style="text-align: left;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Mail"> <i class="palette-Cyan-700 bg ti-paint-roller" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Skin</span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"> <a href="#" title="Black Skin">Blue Skin</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="White Skin">White Skin</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Blue Skin">Purple Skin</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Mail"> <i class="intial palette-Blue-700 bg ti-email" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">mail</span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"> <a href="#" title="Inbox">Inbox
                                                 <div class="noft-blue bg-red" style="display: inline-block; float: none;">256</div>
                                            </a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Compose">Compose</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;" id="leonel">
                                        <a href="javascript:void(0)"> <i class="intial palette-Blue-900 bg ti-write" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Page&nbsp;
                                    <small class="side-menu-noft bg-blue">hot</small></span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">

                                            <li style="text-align: left;"> <a href="#">Blog List</a> </li>
                                            <li style="text-align: left;"> <a href="#">Blog Detail</a> </li>
                                            <li style="text-align: left;"> <a href="#">Gallery</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Calender">Calendar</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Chart">Blank Page</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="UI"> <i class="intial palette-Teal-600 bg ti-vector" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">UI&nbsp;
                                    <small class="side-menu-noft">new</small></span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/element.html" title="Element">Element</a> </li>
                                            <li style="text-align: left;"><a href="http://ndesaintheme.com/fondamix/button.html" title="Button">
                                            Button
                                        </a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Tab &amp; Accordion">Tab &amp; Accordion</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Typography">

                                                Typography
                                            </a> </li>
                                            <li style="text-align: left;"> <a href="#" title="panel">Panel</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Grids">Grids</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Chart">Chart</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;">
                                        <a href="javascript:void(0)"> <i class="intial palette-Green-700 bg ti-layers-alt" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Form&nbsp;  <small class="side-menu-noft">new</small></span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"> <a href="#" title="Form Elements">Form Elements</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Andvance Form">Andvance Form</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="Text Editor">Text Editor</a> </li>
                                            <li style="text-align: left;"> <a href="#" title="File Upload">File Upload</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;">
                                        <a href="javascript:void(0)"> <i class="intial palette-Lime-700 bg ti-harddrives" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Tables</span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px; display: none;">
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/table-static.html" title="Table Static">Table Static</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/table-dynamic.html" title="Table Dynamic">Table Dynamic</a> </li>
                                        </ul>
                                    </li>
                                    <li style="text-align: left;">
                                        <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/icon.html" title="Icons"> <i class="intial palette-Orange-700 bg ti-zip" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Icons</span> </a>
                                    </li>
                                    <li style="text-align: left;">
                                        <a class="tooltip-tip tooltipster-disable" href="javascript:void(0)" title="Extra"> <i class="palette-Pink-700 bg ti-gift" style="top: 0px; left: -15px; padding: 8px 0px;"></i> <span style="display: inline-block; float: none;">Extra</span> <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
                                        <ul style="border-radius: 0px; padding: 15px 25px;">
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/invoice.html" title="Invoice">Invoice</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/pricing_table.html" title="Pricing Table">Pricing Table</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/time-line.html" title="Time Line">Time Line</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/login.html" title="Chart">Login</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/map.html" title="Lock Screen">Map</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/404.html" title="404 Error Page">404 Error Page</a> </li>
                                            <li style="text-align: left;"> <a href="http://ndesaintheme.com/fondamix/500.html" title="500 Error Page">500 Error Page</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- end of Menu sidebar  -->
                            <!--bottom chat-->
                            <ul class="chat-list-menu">
                                <li style="text-align: left; display: block;">Direct Message (10) <i class="ti-arrow-circle-down" style="top: 0px; left: -15px; padding: 8px 0px;"></i></li>
                                <li class="online" style="text-align: left; display: block;"><small class="ti-control-record"></small> Themesmile (You)</li>
                                <li class="online" style="text-align: left; display: block;"><small class="ti-control-record"></small> IamUcil</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Yudha</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Nady</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Andre</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Gloria</li>
                                <li class="online" style="text-align: left; display: block;"><small class="ti-control-record"></small> Destya</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Yuanita</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Ari</li>
                                <li style="text-align: left; display: block;"><small class="ti-control-record"></small> Dhanie</li>
                            </ul>
                            <!--end of bottom chat-->
                            <ul class="bottom-list-menu">
                                <li style="text-align: left; display: block;">Settings <small class="ti-settings"></small> </li>
                                <li style="text-align: left; display: block;">Help <small class="ti-flag-alt-2"></small> </li>
                                <li style="text-align: left; display: block;">About Edumix <small class="ti-infinite"></small> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of Rightsidemenu -->
                <div class="wrap-fluid" id="paper-bg" style="width: auto; margin-left: 260px;">
                    <!-- Top Nav -->
                    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium" style="display: none;">
                        <button class="menu-icon" type="button" data-toggle=""></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="example-menu">
                        <div class="top-bar-left">
                            <ul class="dropdown menu menu-profile bg-white">
                                <!-- PROFILE-->
                                <li class="bg-white"> <img alt="profile" class="admin-pic img-circle palette-Grey-900 bg" src="./img/foto.png" style="margin: 20px 0px 0px 20px;"> </li>
                                <li class="bg-white"> <a class="bg-white text-gray" data-toggle="profile-dropdown" aria-controls="profile-dropdown" data-is-focus="false" data-yeti-box="profile-dropdown" aria-haspopup="true" aria-expanded="false"> {{emailUser}} </a>
                                    <div class="dropdown-pane dropdown-pane-nest profile-nest bottom" id="profile-dropdown" data-dropdown="3j1qz9-dropdown" data-auto-focus="true" aria-hidden="true" data-yeti-box="profile-dropdown" data-resize="profile-dropdown" aria-labelledby="90rhs2-dd-anchor" data-events="resize">
                                        <ul class="menu vertical dropdown profile-dropdown">
                                            <li><a href="javascript:void(0)"><i class="ti-user palette-Indigo-500 bg"></i> Profile<span class="text-aqua fontello-record"></span></a> </li>
                                            <li><a href="javascript:void(0)"><i class="ti-wallet palette-Blue-700 bg"></i> Accounts</a> </li>



											  <li {{action "signOut"}}><a href="javascript:void(0)" ><i class="ti-power-off palette-Light-Blue-900 bg"></i>Log Out</a> </li>



                                        </ul> </div>
                                </li>
                                <!-- end of PROFILE-->
                            </ul>
                            </div>
                            <div class="top-bar-right">
                                <ul class="dropdown vertical medium-horizontal menu bg-white" data-dropdown-menu="sfdv3d-dropdown-menu" role="menubar">
                                    <!-- Search | has-form wrapper -->
                                    <li class="bg-white" role="menuitem">
                                        <form class="navbar-form navbar-left" style="position:relative" role="search">
                                            <div class="dark"></div>
                                            <input class="input-top" type="text" placeholder="search"> </form>
                                    </li>
                                    <!-- End Of Search | has-form wrapper -->
                                    <!--MESSAGE-->
                                    <li class="bg-white" role="menuitem"> <a class="button bg-white float-right" data-toggle="msg-dropdown" aria-controls="msg-dropdown" data-is-focus="false" data-yeti-box="msg-dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="ti-agenda palette-Pink-500 text"></i>&nbsp;<span class="label edumix-msg-noft palette-Pink-500 bg">84</span></a>
                                        <div class="dropdown-pane dropdown-pane-nest bottom" id="msg-dropdown" data-dropdown="u9mhmg-dropdown" data-auto-focus="true" aria-hidden="true" data-yeti-box="msg-dropdown" data-resize="msg-dropdown" aria-labelledby="dru3fo-dd-anchor" data-events="resize">
                                            <ul class="menu vertical dropdown dropdown-wrap">
                                                <li role="menuitem">
                                                    <div class="top-dropdown-nest"> <span class="label round bg-green">MESSAGE</span>
                                                        <a href="javascript:void(0)">
                                                            <h3 class=" text-black"> Big Boss<b class="text-red fontello-record"></b><span>Just Now<small></small></span>
                                                </h3>
                                                            <p class=" text-black">Important task!</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li role="menuitem">
                                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 180px;"><div class="slim-scroll" style="overflow: hidden; width: auto; height: 180px;">
                                                        <div>
                                                            <a href="javascript:void(0)">
                                                                <h3>Noel A. Riley<b class="text-green fontello-record"></b><span>12:23<small>PM</small></span>
                                                </h3>
                                                                <p>Dua dua sayang adik kakak</p>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0)">
                                                                <h3>Shirley J. Carneal<b class="text-gray fontello-record"></b><span>10:11<small>PM</small></span>
                                                </h3>
                                                                <p>Tiga tiga sayang kekasihku</p>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0)">
                                                                <h3>Paul L. Williamsr<b class="text-gray fontello-record"></b><span>Yesterday</span>
                                                </h3>
                                                                <p>Empat empat sayang semuanya</p>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0)">
                                                                <h3>William L. Wilcox<b class="text-gray fontello-record"></b><span>2 Days Ago</span>
                                                </h3>
                                                                <p>Yang jomblo kasian deh lu</p>
                                                            </a>
                                                        </div>
                                                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 135px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                                </li>
                                                <li class="active right" role="menuitem">
                                                    <a href="javascript:void(0)">
                                                        <div class="label bg-white">More...</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--end of MESSAGE-->

                                    <!--NOTIFICATION-->

                                    <li class="bg-white" role="menuitem"> <a class="button bg-white float-right" data-toggle="notf-dropdown" aria-controls="notf-dropdown" data-is-focus="false" data-yeti-box="notf-dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-bell  palette-Purple-500 text"></i> <span class="label edumix-noft palette-Purple-500 bg">40</span></a>
                                        <div class="dropdown-pane dropdown-pane-nest bottom" id="notf-dropdown" data-dropdown="ca2hdj-dropdown" data-auto-focus="true" aria-hidden="true" data-yeti-box="notf-dropdown" data-resize="notf-dropdown" aria-labelledby="diuv8e-dd-anchor" data-events="resize">
                                            <ul class="menu vertical dropdown dropdown-wrap">
                                                <li role="menuitem">
                                                    <div class="top-dropdown-nest"> <span class="label round bg-blue">ALERT</span>
                                                        <a href="javascript:void(0)">
                                                            <h3 class="text-black">Sticky Very Important<span class="text-red fontello-record"></span></h3>
                                                            <p class="text-black">1 minute ago</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li role="menuitem">
                                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 180px;"><div class="slim-scroll" style="overflow: hidden; width: auto; height: 180px;">
                                                        <div> <i class="ti-comments-smiley"></i>
                                                            <a href="javascript:void(0)">
                                                                <h3>Announcements <span class="text-green fontello-record"></span>
                                                </h3>
                                                                <p>Just Now !</p>
                                                            </a>
                                                        </div>
                                                        <div> <i class="  fontello-attach-1"></i>
                                                            <a href="javascript:void(0)">
                                                                <h3>Complete your profile<span class="text-yellow fontello-record"></span>
                                                </h3>
                                                                <p>2 Minute Ago</p>
                                                            </a>
                                                        </div>
                                                        <div> <i class="  fontello-calendar-1"></i>
                                                            <a href="javascript:void(0)">
                                                                <h3>New Schedule Realease<span class="text-yellow fontello-record"></span>
                                                </h3>
                                                                <p>30 Minute ago</p>
                                                            </a>
                                                        </div>
                                                        <div> <i class="fontello-database-1"></i>
                                                            <a href="javascript:void(0)">
                                                                <h3>New Student Data<span class="text-orange fontello-record"></span>
                                                </h3>
                                                                <p>1 Hour ago</p>
                                                            </a>
                                                        </div>
                                                        <div> <i class="fontello-graduation-cap"></i>
                                                            <a href="javascript:void(0)">
                                                                <h3>Graduate Student List<span class="fontello-record"></span>
                                                </h3>
                                                                <p>2 Days ago</p>
                                                            </a>
                                                        </div>
                                                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 108px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                                </li>
                                                <!--end of NOTIFICATION-->
                                                <li class="active right" role="menuitem">
                                                    <a href="javascript:void(0)">
                                                        <div class="label bg-white">More...</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bg-white" role="menuitem"><a class="bg-white" data-toggle="offCanvas" aria-expanded="false" aria-controls="offCanvas"><i class=" text-black ti-menu"></i></a></li>
                                </ul>
                                <!-- Right Nav Section -->
                            </div>
                        </div>
                        <!-- end of Top Nav -->
                        <!-- breadcrumbs -->
                        <!--    <ul class="breadcrumbs">
                        <li><a href="javascript:void(0)"><span class="entypo-home"></span></a> </li>
                        <li>Dashboard </li>
                  </ul>-->
                        <!-- end of breadcrumbs -->
                        <!-- Container Begin -->
                        <div class="top-main-fondamix">
                            <!-- Begin page content -->
                        </div>

                        <!-- Widget  -->
                        <div class="row">
                            {{yield}}
                        </div>
                        <!-- End of Widget  -->
                        <footer>
                            <div id="footer">Copyright © 2017 <a href="http://themeforest.net/user/Themesmile">Themesmile</a></div>
                        </footer>
                    </div>
                    <!-- End of Container Begin -->
                    <!-- Right Menu -->
                    <div class="bg-transparent off-canvas position-right" id="offCanvas" data-off-canvas="ly4p6q-off-canvas" data-position="right" aria-hidden="true" tabindex="-1">
                        <!-- Close button -->
                        <button class="close-button" aria-label="Close menu" type="button" data-close=""> <span aria-hidden="true">×</span> </button>
                        <div class="off-canvas-content" data-off-canvas-content="">
                            <!-- Menu -->
                            <ul class="nav navbar-stacked ">
                                <li><a href="javascript:void(0)"><span class="palette-Black-100 bg ti-menu-alt"></span>Notifications</a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Deep-Purple-100 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-200 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-400 bg ti-gift"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-600 bg ti-truck"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-800 bg ti-home"></span>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>1m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Blue-A100 bg ti-user"></span>Meet new user <strong>Lilian Meirs</strong><small>23m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Red-A400 bg ti-cloud-down"></span><strong>Robert</strong> added new request for ne item for refund<small>34m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Orange-200 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Orange-400 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Orange-600 bg ti-gift"></span><br>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>40m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
Like this one! Keep going!<small>50m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>1h</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Light-Green-500 bg ti-image"></span><strong>Lilian Meirs</strong> Posting new image cover, and just got 2.000 likes<br><img alt="" src="img/500x200"><small>1h 12m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
Like this one! Keep going!<small>1h 39</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item<br><img alt="" src="img/500x200(1)"> <small>1h 45m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>23m</small></a></li>
                                <li><a href="javascript:void(0)"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
Like this one! Keep going!<small>2h</small></a></li>
                            </ul>
                        <div class="js-off-canvas-exit"></div></div>
                    </div>
                    <!-- End of Right Menu -->
                </div>
                <!-- end paper bg -->
            </div>
        </div>
        <!-- end of off-canvas-wrap -->
        <!-- end of inner-wrap -->
        <!-- main javascript library -->



        <!-- foundation javascript -->


        <!-- main edumix javascript -->


        <script type="text/javascript" src="js/sliding-menu.js"></script>


        <script type="text/javascript" src="js/jquery.circliful.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <!-- additional javascript -->





        <script>
            $(document).foundation();
        </script>


<div class="tooltip-inner" id="line-chart-tooltip" style="position: absolute; background: rgb(51, 51, 51); padding: 3px 10px; color: rgb(255, 255, 255); display: none; opacity: 1;"></div></div>


{{outlet}}
